<div class="container" style="margin-top: 5px;">
    <div class="row" style="border: 1px solid rgb(225, 194, 191);">
        <div class="col">
            <div class="container-fluid">
                <app-navbar></app-navbar>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid rgb(225, 194, 191);">
        <app-search></app-search>
    </div>
    <div class="row">
        <app-table></app-table>
    </div>
    <div class="row">
        <app-button-gorup></app-button-gorup>
    </div>
</div>